@font-face {
    font-family: 'grungleFont';
    src: url(../assets/fonts/BuGothicHybrid-xyd5.ttf) format('truetype');
    }
    @font-face {
    font-family: 'grungleNumbers';
    src: url(../assets/fonts/Crashnumberingserif-KVjW.ttf) format('truetype');
    }
    @font-face {
        font-family: 'scripto';
        src: url(../assets/fonts/Scripto-2OR2v.ttf) format('truetype');
    }


body {
    background: linear-gradient(180deg, rgb(74, 44, 19), rgb(47, 23, 6));
    color: burlywood;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-size: 16px;
}

#back2grungle {
    height: 60px;
    width: 100px;
    background: linear-gradient(-180deg, #65421a, #a56c2a);
    border: solid 2px black;
    border-radius: 5%;
    font-family: 'grungleFont', 'Courier New', Courier, monospace;
    font-size: 24px;
    cursor: pointer;
}

#back2grungle:hover {
    border: solid 1px goldenrod;
}

#back2grungle a {
    text-decoration: none;
    color: whitesmoke;
}

.box img {
    height: 280px;
    width: 280px;
}

.box {
    height: 280px;
    width: 280px;
    padding: 7px;
    border: solid 1px goldenrod;
    cursor: pointer;
    }

.boxContainer {
    margin: 0 auto;
    margin-top: 3%;
    margin-bottom: 10%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    height: 900px; /*cards x3 is exactly 840px */
    width: 1000px; /* cards x3 is exactly 615px */
    }